body {
    height: 100%;
    width: 100%;
    margin: 0;
  }
.headerName{
    text-align: center;
    color: rgba(204, 198, 198, 0.758);
    font-size:72px;
}
.headerNavbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
  }
  
  .headerNavbar li {
    float: left;
    width: 20%;
    font-size: 32px;
  }
  
  .headerNavbar li a {
    display: block;
    color: rgb(129, 127, 127);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .headerNavbar li a:hover {
    background-color: rgb(120, 160, 193);
    color: black;
  }
  .active {
    color: black;
  }
  .section { 
    width: 100%; 
    height: 20%; 
    background-color: white; 
    margin: 10px 5px; 
} 
  .one{
    width: 50%;
    height:  20%;
    text-align: right;
    margin: 10px 5px;
    float: right;
}
.two{
    width: 50%;
    height:  20%;
    text-align: left;
    margin: 10px 5px;
    float: left;  
}
.three{
    width: 50%;
    height:  20%;
    text-align: right;
    margin: 10px 5px;
    float: right;
}
.four{
    width: 50%;
    height: 20%;
    text-align: left;
    margin: 10px 5px;
    float: left;  
}
.five{
    width: 50%;
    height: 20%;
    text-align: right;
    margin: 10px 5px;
    float: right;
}
.sectionHeading{
    text-align: left;
    color: rgba(204, 198, 198, 0.758);
    font-size:32px;

}
.right img{
    display: inline;
    width: 40%;
    height: 50%;
    vertical-align: middle;
}
.right{
    width: 50%;
    height: 20%;
    float: right;
}
.left{
    width: 50%;
    height: 20%;
    float: left;
}
.two h2{
    color: black;
}
.two h3{
    color: rgb(120, 160, 193);
}
.positionName{
    color: rgb(120, 160, 193);
}
