.divHeader{
    background-color: rgb(204, 176, 230);
}
.divHeadingText{
    background-color: rgb(204, 176, 230);
    display: block;
    font-size: 48px;
}
.profileImage{
    margin: 1px 1px 1px 1px;
    width: 25%;
    height: 15%;
}
.rightSection{
    margin: auto;
    width: 50%; 
    float: right;
    text-align: center;
}
.leftSection{
    margin: auto;
    width: 50%; 
    float: left;
    text-align: right;
}